@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores personalizados */
:root {
  --navbar-color: #f0d8be;
  --page-color: #f0d8be;
  --primary-text-color: #333333;
}

/* Aplicar el fondo a toda la página */
body {
  background-color: var(--page-color);
  color: var(--primary-text-color);
  font-family: "Inter", sans-serif;
}

.bg-navbar-color {
  background-color: var(--navbar-color);
}

.bg-page-color {
  background-color: var(--page-color);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
