@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores personalizados */
:root {
  --navbar-color: #f0d8be; /* Color para el navbar y el footer */
  --page-color: #f9efe4; /* Color de fondo de la página */
  --primary-text-color: #333333; /* Color del texto */
}

/* Aplicar el fondo personalizado a toda la página */
body {
  background-color: var(--page-color);
  color: var(--primary-text-color);
  font-family: "Inter", sans-serif;
}

.bg-navbar-color {
  background-color: var(--navbar-color);
}

.bg-page-color {
  background-color: var(--page-color);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
