---
import Navbar from "../components/Navbar.tsx";
import type { ReactNode } from "react";

interface LayoutProps {
  children: ReactNode;
  title: string;
}
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-page-color text-gray-900">
    <Navbar />
    <main class="max-w-7xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-8">
      <slot />
    </main>
    <footer
      class="bg-navbar-color p-4 text-center text-gray-800 mt-8 rounded-t-lg"
    >
      © 2024 Capellanía UP
    </footer>
  </body>
</html>
